<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>


<title>Daily Fantasy Basketball Strategy and Advice</title>



<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i> Daily Fantasy Basketball Strategy and Advice</h1>

      

                
      <h4> Learn start to finish how to dominate your one day fantasy basketball leagues.</h4>


                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Daily Fantasy Basketball Strategy 2014-2015</h3> 

  


    <div class="col-md-5 col-md-offset-3">
      


<!--End mc_embed_signup-->
       
    <div class="panel-default">



  
     <h1> Daily Fantasy Basketball Strategy Guide</h1>
     <h3>1. Signing Up</h3>

     <p>The first thing you want to do is lookup the best promotional deals at the time. Signing up for daily fantasy basketball leagues with a PROMO code can double the money you start off with or other awesome perks. You will see these ads on the TV or radio, and you can also look them up online then sign up by clicking the picture below.
     </p>

    


<!-- Affiliate Code Do NOT Modify--><a onclick="window.open(this.href,'_blank');return false;" href="http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_13&aid=" ><img src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_13&aid=" style="border:none;width:468px;height:60px;" border=""></a><!-- End affiliate Code-->


     <h3> 2. Choosing Game Type</h3>

   <p>Once you have signed up, it's time to start having some fun. The first thing you want to do is figure out what kind of game you would like to play. Each game has a different chance of you winning or not and is based on the number of people entered and the amount of money for the entry fee. The types of games on fan duel are as follows:

   <h4>1. Large Multi-Entry Games</h4>- These games usual give away the most prize money to the winner but your chances of winning are highly unlikely. The entry fees on these types of games are usual about 1-5 dollars. This is like playing the lottery but it is fun because you can spend 10 bucks and enter 10 different teams if you would like too.

   <h4>2. 50/50 Games</h4> - In thfese games, you have a 50 percent chance of winning and you can bet pretty much as much as you want on these. For example the entry fee is $20 bucks, 50 percent of the participants win $40 dollars and the others earn nothing. 

   <h4>3. Head-to-Head</h4> - This on is pretty self-explanatory. Test your skills one on one against other fantasy basketball freaks

   <h4>3. Double Up</h4> - In these games, you have a chance to double your entry fee, usually around a 30-50 percent chance to double up. They also have triple up and other variations of these games.
</p>
 

   <p>Starting off, you can play in games for free, but I would reccommend doing the 50/50 games to start out and definately start off not spending more than 5 dollars on an entry fee. You should get used to the scoring and format before spending large amounts of money.

   </p> <a href="http://rotomonster.com/"><img src="http://i.imgur.com/9jEuJmQ.png" class="img-rounded" style="width:30px; height:30px;"/>
     
     Rotomonster - Stat Archive </a> - Good source for stats
    
     
   <h3>3. Picking Your Team</h3>

     <p> This is clearly the most important part. The tricky thing about daily fantasy basketball leagues, is the fact that they have a salary cap (60k salary cap). This can make if extremely difficult when decidng on who to start. The studs cost the most, $10,000-$12,000, and the worst players cost $3500. You can see an example below.  </p>

     <img src="http://i.imgur.com/dQjUvAn.png" class="img-rounded" style="width:450px; height:450px;" />

   

     <p>As you are picking your team, you will quickly realize how fast your money goes. Most winning teams have a combination of studs and decent players that have awesome games. A couple of strategies are as follows:
     <h4>Average Joes</h4>-This is where you do not spend any on your money of the really expensive players, and instead, you buy all quality players. This strategy is a safe bet to put up decent number and would use this when doing 50/50 games becuase you pretty much know what yo are getting, but know that the chances of getting 1st are slim.</p>
     <h4>Studs and Cruds</h4> This strategy has the highest upside, but the lowest chances of success. This is where you buy 3 or 4 really good players and hope the other, cheap players have huge games. 
     <h4>All Around</h4> This is where you get 1 or 2 studs and 1 or 2 cheap players, but the majority of the team is good quality players. This is again good to use in 50/50 games or in head-to-head, and I would say the majority of people use this strategy.

     <h3> Below you can see some examples of winning teams. </h3><p>Dec.26th 2014-Dec.27th 2014</p>
     <h4>Example 1</h4>

      <img src="http://i.imgur.com/hmk7bBl.png" class="img-rounded" style="width:450px; height:450px;" />
      <h4>Example 2</h4> <img src="http://i.imgur.com/MkUo6EE.png" class="img-rounded" style="width:450px; height:450px;" />
   

     <p>The first one is a good example of the Average Joes strategy. This person didn't spend more than $9,400 on any player and still won because he had all quailty players that had a chance to put up solid numbers. The second example is the All Around strategy. This person bought Harden and LeBron, which cost a pretty penny but worth it. Then the low value players put up good numbers (Wesley Johnson and Zaza Pachulia) which in turn made them have a winning team. </p>

     <h3> Things To Consider</h3>

     <h4>Injuries</h4><p>Make sure you are always up-to-date with the player's status before each game. Also, injuries can open the door for other playesr that you might be able to get really cheap.</p>

     <h4>Opponent</h4><p>You need to take into consideration what team your players are facing. They could get blown out and rest their starters(AKA someone on your team) and it could decrease their value greatly. 

     <h4>Schedule</h4>Also you need to be aware if the player's are coming off back-to-back games or a heavy raod trip or flight. These things could cause your player to perform worse than expected.

     <h4>Over Under</h4>Check the vegas stats to get an idea on if the game is expected to be high scoring, even, or a blow out. This can give you the extra edge you need to pick the right players.

     <h3> These tactics should help you put together a quaility team and we wish the best of luck to you in your daily fantasy basketball games. You can try the leader in daily fantasy sports below.</h3>




     <div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>  

  




     </div>

     </div>
     </div>
</div>
     

