

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>





<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i>Fantasy Basketball Strategy and Advice</h1>

      

                
      <h4>Gain knowledge on how to put a winning fantasy basketball team together</h4>


                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Fantasy Basketball Strategy 2014-2015</h3> 

  


    <div class="col-md-5 col-md-offset-3">
      


<!--End mc_embed_signup-->
       
    <div class="panel-default">



  
     <h1>Fantasy Strategy Guide</h1>
     <h3>1. Draft Day</h3>

     <p>Knowing the fundamentals of fantasy basketball can make the difference between winning your fantasy league and finishing dead last. When draft day rolls around, there are two important things that you should consider before drafting a player. Even though a player was good last year, it does not mean that they will be this year so you can not go by just last years stats.
     </p>

     <p>
      To have a winning team you must be up to date with the roles of the players you are considering drafting. The player's team could have drafted a rookie that will take over that person's role in the starting lineup and you just wasted a pick on a bench warmer. You also have to consider if the player has moved to a different team in the league and if will he have a bigger or smaller role there.</span> 
 </p>
<img src="http://i.imgur.com/IeN1ZsC.png" class="img-rounded" style="width:450px; height:450px;" />

 <a href="http://games.espn.go.com/fba/tools/projections"><img src="http://i.imgur.com/QUqDOYH.png" class="img-rounded" style="width:30px; height:30px;"/>
     
     ESPN 2014-2015 Projections </a> - See the projections here


   <p>Once you have a clear vision on the potential player's role, you should next check out the stats. This includes taking into consideration this year's projections and also last year's stats for every player you are considering. Even though the predictions are not that accurate, a player could be injured for the first 2 months of the season and you could have missed it if you just went based on last year's stats. </p>

 

   <p>When looking at last year's stats, you should usually focus on what the player did in the last quarter of the season. The players roles could have changed later in the season and the stats only show you how many fantasy points per game (FPPG), when what you really need to know is how many fantasy points per minute they have scored to show you the true value of a player.</p> <a href="http://rotomonster.com/"><img src="http://i.imgur.com/9jEuJmQ.png" class="img-rounded" style="width:30px; height:30px;"/>
     
     Rotomonster - Stat Archive </a> - Good source for stats
    
     
   <h3>2. Early Round Picks</h3>

     <p>When starting off your draft, I would try and avoid shooting guards other than the few elite players (Harden, Westbrook, etc) and I would focus on acquiring a quality point guard and a quality big man. The reason you do not want to waste top picks on most shooting guards is because of efficiency. Every time a player misses a shot it subtracts a point from your score. The other main reason to go after a point guard and big man that can score first is because they put up points in a plethora of different categories. Plenty of people can score in the league, but not many can acquire multiple steals, blocks, and assists a game.</p>

     <h3>3. Late Round Picks</h3>

     <p>In the later stages of the fantasy basketball draft, look to grab some people players that are consistent and some with high upside. Look to grab some veterans that put up pretty consistent numbers so you are knowing what you are getting to make your team well rounded. Also, look to grab some rookies or second year players that have the possibility of having a break out year.</p>

     <h2>Week 1 - Start of Season</h2>

     <img src="http://i.imgur.com/imFWahi.png" class="img-rounded" style="width:450px; height:450px;" />
     <h3>Setting Your Lineup</h3>

     <p>All your players are drafted and you are ready to kick off the season. Now what? The first thing you have to do is set your lineup. A few guidelines when setting your lineup will help you increase your chance of winning greatly. The first thing is to check and see how many games your players have coming up to make sure you have the most games possible that week to count towards your total score. The next thing you check is any of your players are injured. You never want to start an injured player and give the other opponent the win. The last and most important thing you want to look at is the stats on the player's recent fantasy numbers. Are his numbers going up or down? Is he playing the same amount of time as before? How has he been doing the last 7 games? These are all questions you need to ask yourself when evaluating players to pick for your lineup.</p>

     <div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>    

     <h2> Other Fantasy Basketball Advice</h2>
     <h4>Source: Clipsnation.com</h4> By: Thomas Wood


     <p>
     <h3>1.Be patient</h3> You pick him because you thought he would be good. He has four bad games to start the season, so you drop him. A week later, he's right back where you had him pegged in your preseason preparation, and that obnoxious dude from work emails you daily for the next 6 months to thank you for defenestrating him prematurely. (He writes defenestrating because it's on his word-a-day calendar and that's the kind of guy he is.) I love seeing my buddies tally 200 transactions during the season. It means I got a lot of players I didn't get to draft.
     <p>
<h3>2.Points and rebounds are easy to get</h3>. These are opportunity stats. Someone has to score and rebound, even on the 76ers. During the season, some power forward is going to come into a 25-minute role and give you 14 and 8 with 50% shooting after you grab him hot off the waiver-wire. Worry about the special stuff in the draft and have faith that you can pad these two columns in-season.
</p>
<h3>3.Punt free throw %.</h3> Excuse my mixed metaphor, but in every fantasy sport you can always ignore one stat. For basketball, I choose FT% for a couple of reasons. First, there are many fantastic basketball players who range from mediocre to cover-your-eyes awful at the free throw line. LeBron James has never surpassed 80%. Tim Duncan has done it once. Shaq's percentages look like batting averages. Clips Nation's own Blake Griffin has managed a career mark of 64.4%. If you want to ignore men like this in your draft, you do so to my benefit. Second, FT% is boring. Is that really the stat you want to pay attention to? Because if you care about it, you'll spend all of February and March looking for it.
</p>
In your draft, play it safe early and go for broke late. It's tough to win your league in the first two rounds, but it's stunningly easy to lose it. For years, I had to nail my late-round sleeper picks to atone for my early-round yips. I wanted sexy when I really needed steady. Save your gambles for later. With your first few picks, you are building your foundation. Don't buy your rug before you buy a floor. This rule goes hand-in-hand with...
Pick well-rounded players early and save your specialists for later. Back when he was in Milwaukee and Milwaukee still wore purple, I picked Ray Allen in the first round. I wasn't crazy to do so, because he carried a solid first-round grade. Many of you will recall that Ray Allen was a very good player, but even with his scoring, his primary value came from his 3-point shooting. I spent the rest of the draft trying to fill holes like a cartoon character with too few fingers and a failing dam. In recent years, do you know which players I have selected early? Josh Smith. Andre Iguodala. Blake Griffin. (It always comes back to Blake). I like to get multiple players who can contribute to nearly every column. Kyle Korver will still be there if you want threes. Darren Collison will still be there if you want steals. Mario Chalmers will still be there if you want laughs (or cries). Also, as you mix and match the bottom of your lineup, it's easier to target specific weaknesses when your everyday guys give you a solid starting point in every stat column.
</p>





 


<div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>    



     </div>

     </div>
     </div>
</div>
     

