<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>





<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i>Fantasy Basketball Waiver Wire Week 6</h1>

      <img src="http://i.imgur.com/ESnPpsy.png" class="img-circle" style="width:100px; height:100px;"/>

                
      <h4>Subscribe to receive 5 awesome new pickups in your inbox each week. We do the research so you don't have to.</h4>


                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Week 8 Waiver Wire Pick Ups</h3> <h4><span class="label label-danger">ESPN Stats</span></h4>

     <h4><span class="label label-primary">Last 15 AVG</span></h4>
   

  


    <div class="col-md-4 col-md-offset-4">
        <h2>Fantasy Basketball 2015 Waiver Wire Pick Ups</h2>
        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//5pickups.us9.list-manage.com/subscribe/post?u=bbade11dec52ce920e06a69f8&amp;id=b09133746a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to receive 5 awesome pickups in your inbox, every week.</label>
  <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bbade11dec52ce920e06a69f8_b09133746a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
       
    <div class="panel-default">



  
   <a href="http://espn.go.com/nba/player/_/id/6631/tyler-zeller"><img src="http://i.imgur.com/d6uUUOh.png" class="img-circle" style="width:200px; height:200px;"/>
     
     <h3>Tyler Zeller</h3>
     </a>


    

     <h4><span class="label label-danger">16.3 Percent Owned(+7.1)</span></h4>
     <h4><span class="label label-primary">22.9 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>



     <p>Zeller's recent surge has made him worth owning over the last two weeks, as he has averaged 12.1 points, 8.0 boards, 62.9 percent field goals and 90.5 percent free throws in eight contests. He doesn't bring any defense, averaging just 1.3 combined steals and blocks over that span and he's not going to keep those percentages going. But he's hot and he's worth adding especially while he's starting for the Celtics. Source: Rotoworld NOTES: Kelly Olynyk just had a monster game and could see increased minutes which would hurt Zeller's production Dec 16</span> 
 </p>
<a href="http://espn.go.com/nba/player/_/id/3032977/giannis-antetokounmpo"><img src="http://i.imgur.com/0PvGtye.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Giannis Antetokounmpo</h3>
     </a>

     <h4><span class="label label-danger">62.9 (+1.4)</span></h4>
     <h4><span class="label label-primary">20.5 Fantasy PPG</span></h4>
     <h4><span class="label label-success">4 games next week</span></h4>

     <p>"He's learning how to play without having to score the ball, say shooting threes or shooting jump shots," coach Jason Kidd said. "He can live at the free-throw line. Some of the top players in this league, that's what they do." The Greek Freak has already attempted 98 free throws this season, after attempting 202 all of last season. He is only going to get better as the season progresses and his ridiculous upside makes him worth owning in all leagues. Dec 14 - 12:05 PM
Source: Milwaukee Journal-Sentinel</p>
<a href="http://espn.go.com/nba/player/_/id/6464/donatas-motiejunas"><img src="http://i.imgur.com/PABl4Vk.png.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Donatas Motiejunas</h3>  
     </a>


     <h4><span class="label label-danger">23.4 (+9.8)</span></h4>
     <h4><span class="label label-primary">20.8 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>

     <p>There is still some concern that Howard's return will cut into Motiejunas' production, but on the back on this one game, owners don't have much to worry about. Let's see if there is any down turn over the next three to four games, but regardless, Motiejunas is in the midst of the best season of his career and remains an intriguing fantasy player for the near future. Source: rotowire.com Dec 13</p>

     

     <a href="http://espn.go.com/nba/player/_/id/1703/carlos-boozer"><img src="http://i.imgur.com/ZC8F75h.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Carlos Boozer</h3>
     </a>

     <h4><span class="label label-danger"> 50.5 (-1.8)</span></h4>
     <h4><span class="label label-primary">21 Fantasy PPG</span></h4>
     <h4><span class="label label-success">4 games next week</span></h4>

     <p>Since his demotion to the bench in favor of Ed Davis, Boozer has come alive, averaging 15.8 points and 10.3 rebounds in 27 minutes a game. Davis is struggling and Boozer is excelling in their new roles and Boozer is still valuable in 12 team leagues. If he was dropped in your league, he's worth at. Source rotowire: Dec 15</p>
     <a href="http://espn.go.com/nba/player/_/id/3235/rodney-stuckey"><img src="http://i.imgur.com/LKlIBY8.png" class="img-circle" style="width:200px; height:200px;" />
     <h3>Rodney Stuckey</h3>
     </a>

     <h4><span class="label label-danger">15.6 (+2.8)</span></h4>
     <h4><span class="label label-primary">19.6 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>


     <p>Stuckey put up big numbers in limited minutes Monday as the Pacers went on to an easy win. He's grabbed 24 rebounds in his last two games and even though fantasy owners shouldn't expect that to happen too often, Stuckey does have the ability to contribute in multiple categories. Source: Rotowire.com</p>

     <!-- Standard button -->
     <div class="container">
<button type="button" class="btn btn-primary">More Players to Consider</button>
</div>


<div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>    



     </div>

     </div>
     </div>

     
