
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i> Best Fantasy Basketball Waiver Wire Pick Ups</h1>

                
      <p>Subscribe to recieve 5 awesome new pickups in your inbox each week. We do the research so you don't have to.</p>
                
      <form action="" method="post">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" placeholder="your@email.com">
      </div>
                    <br />
                    <button type="submit" value="sub" name="sub" class="btn btn-primary"><i class="fa fa-share"></i> Subscribe Now!</button>
              </form>
      </div>
     </div> 

  

    </div>

    </div>

    <div class="container2">
    
    
    <h3>Week 8 Waiver Wire Pick Ups</h3> <h4><span class="label label-danger">ESPN Stats</span></h4>
     <h4><span class="label label-primary">Last 15 AVG</span></h4>
    <div class="col-md-4 col-md-offset-4">
        <h2>Best fantasy basketball pick ups every week, in your inbox.</h2>
       
    <div class="panel-default">



  
   <img src="http://i.imgur.com/d6uUUOh.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Tyler Zeller</h3>

     <h4><span class="label label-danger">16.3 Percent Owned(+7.1)</span></h4>
     <h4><span class="label label-primary">22.9 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>

     <p>Zeller's recent surge has made him worth owning over the last two weeks, as he has averaged 12.1 points, 8.0 boards, 62.9 percent field goals and 90.5 percent free throws in eight contests. He doesn't bring any defense, averaging just 1.3 combined steals and blocks over that span and he's not going to keep those percentages going. But he's hot and he's worth adding especially while he's starting for the Celtics. Source: Rotoworld NOTES: Kelly Olynyk just had a monster game and could see increased minutes which would hurt Zeller's production Dec 16</span>
 </p>

     <img src="http://i.imgur.com/0PvGtye.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Giannis Antetokounmpo</h3>

     <h4><span class="label label-danger">62.9 (+1.4)</span></h4>
     <h4><span class="label label-primary">20.5 Fantasy PPG</span></h4>
     <h4><span class="label label-success">4 games next week</span></h4>

     <p>"He's learning how to play without having to score the ball, say shooting threes or shooting jump shots," coach Jason Kidd said. "He can live at the free-throw line. Some of the top players in this league, that's what they do." The Greek Freak has already attempted 98 free throws this season, after attempting 202 all of last season. He is only going to get better as the season progresses and his ridiculous upside makes him worth owning in all leagues. Dec 14 - 12:05 PM
Source: Milwaukee Journal-Sentinel</p>

<img src="http://i.imgur.com/PABl4Vk.png.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Donatas Motiejunas</h3>  


     <h4><span class="label label-danger">23.4 (+9.8)</span></h4>
     <h4><span class="label label-primary">20.8 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>

     <p>There is still some concern that Howard's return will cut into Motiejunas' production, but on the back on this one game, owners don't have much to worry about. Let's see if there is any down turn over the next three to four games, but regardless, Motiejunas is in the midst of the best season of his career and remains an intriguing fantasy player for the near future. Source: rotowire.com Dec 13</p>

     <img src="http://i.imgur.com/ZC8F75h.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Carlos Boozer</h3>

     <h4><span class="label label-danger"> 50.5 (-1.8)</span></h4>
     <h4><span class="label label-primary">21 Fantasy PPG</span></h4>
     <h4><span class="label label-success">4 games next week</span></h4>

     <p>Since his demotion to the bench in favor of Ed Davis, Boozer has come alive, averaging 15.8 points and 10.3 rebounds in 27 minutes a game. Davis is struggling and Boozer is excelling in their new roles and Boozer is still valuable in 12 team leagues. If he was dropped in your league, he's worth at. Source rotowire: Dec 15</p>

     <img src="http://i.imgur.com/LKlIBY8.png" class="img-circle" style="width:200px; height:200px;" />
     <h3>Rodney Stuckey</h3>

     <h4><span class="label label-danger"> 50.5 (-1.8)</span></h4>
     <h4><span class="label label-primary">21 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>


     <p>Stuckey put up big numbers in limited minutes Monday as the Pacers went on to an easy win. He's grabbed 24 rebounds in his last two games and even though fantasy owners shouldn't expect that to happen too often, Stuckey does have the ability to contribute in multiple categories. Source: Rotowire.com</p>



     </div>
     </div>
     </div>
