

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>





<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i>Fantasy Basketball Waiver Wire Tips and Advice</h1>

      

                
      <h4>Learn the art of the waiver wire to help dominate your league</h4>


                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Fantasy Basketball Strategy 2014-2015</h3> 

  


    <div class="col-md-5 col-md-offset-3">
      


<!--End mc_embed_signup-->
       
    <div class="panel-default">



  
     <h1>Waiver Wire Pickup Guide</h1>
     

     <p>Mastering the waiver wire is a crucial part of having a winning team in fantasy basketball. Below you can learn the main things to consider when deciding who to pickup.  <p>
     </p>
     <h3>1. Last 7 and PR7</h3>
     <p>
      When deciding who to pick up off the waivers, start off looking at the players stats. Stats that you should play particulary close attention to is fantasy points per game then sort by "Last 7". This will give you a great idea on how the player is doing most recently. Then click the "Research" tab on the player list and sort by "PR7" (Player Rating Last 7) to see if anyone else stands out.</span> 
 </p>
<img src="http://i.imgur.com/DsTL6Rv.png" class="img-rounded" style="width:400px; height:410px;" />

 <a href="http://games.espn.go.com/frontpage/sports?sport=basketball"><img src="http://i.imgur.com/QUqDOYH.png" class="img-rounded" style="width:30px; height:30px;"/>
     
     ESPN Fantasy Basketball </a> - Go to your team here

        <h3>2. Injuries</h3>


   <p>You need to be up to date if someone gets injured in the league. This usually creates opportunity for other players that could be worth picking up. Ask yourself who is going to be the main beneficiary of the playing time when that player is out. Did that player do well while the injured player was out in the past? Having a quality pickup after an injury can be a season changer for your team.</p>

   <p>You also want to look at all of the injured players to see if a quality player is about to start playing again. Someone could have dropped a stud that has been injured for 2 months but is about to come back. There could be someone in your league that people are forgetting about.</p>
    
     
   <h3>3. Daily Leaders</h3>

     <p>Another good tip to pick up players on the waiver wire is to look at the daily leaderboards while games are in progress. If you see someone that has 17 fantasy points in the first quarter and has been doing well recently, chances are, you should pick that player up. If you look at the daily leaderboards you could see something before others do to give you a leg up on the competition. </p>

      <img src="http://i.imgur.com/6Km23CU.png" class="img-rounded" style="width:350px; height:280px;" />

     
    

 </div>    

     <h2> Other Fantasy Basketball Advice</h2>
     <h4>Source: Clipsnation.com</h4> By: Thomas Wood


     <p>
     <h3>1.Be patient</h3> You pick him because you thought he would be good. He has four bad games to start the season, so you drop him. A week later, he's right back where you had him pegged in your preseason preparation, and that obnoxious dude from work emails you daily for the next 6 months to thank you for defenestrating him prematurely. (He writes defenestrating because it's on his word-a-day calendar and that's the kind of guy he is.) I love seeing my buddies tally 200 transactions during the season. It means I got a lot of players I didn't get to draft.
     <p>
<h3>2.Points and rebounds are easy to get</h3>. These are opportunity stats. Someone has to score and rebound, even on the 76ers. During the season, some power forward is going to come into a 25-minute role and give you 14 and 8 with 50% shooting after you grab him hot off the waiver-wire. Worry about the special stuff in the draft and have faith that you can pad these two columns in-season.
</p>
<h3>3.Punt free throw %.</h3> Excuse my mixed metaphor, but in every fantasy sport you can always ignore one stat. For basketball, I choose FT% for a couple of reasons. First, there are many fantastic basketball players who range from mediocre to cover-your-eyes awful at the free throw line. LeBron James has never surpassed 80%. Tim Duncan has done it once. Shaq's percentages look like batting averages. Clips Nation's own Blake Griffin has managed a career mark of 64.4%. If you want to ignore men like this in your draft, you do so to my benefit. Second, FT% is boring. Is that really the stat you want to pay attention to? Because if you care about it, you'll spend all of February and March looking for it.
</p>
In your draft, play it safe early and go for broke late. It's tough to win your league in the first two rounds, but it's stunningly easy to lose it. For years, I had to nail my late-round sleeper picks to atone for my early-round yips. I wanted sexy when I really needed steady. Save your gambles for later. With your first few picks, you are building your foundation. Don't buy your rug before you buy a floor. This rule goes hand-in-hand with...
Pick well-rounded players early and save your specialists for later. Back when he was in Milwaukee and Milwaukee still wore purple, I picked Ray Allen in the first round. I wasn't crazy to do so, because he carried a solid first-round grade. Many of you will recall that Ray Allen was a very good player, but even with his scoring, his primary value came from his 3-point shooting. I spent the rest of the draft trying to fill holes like a cartoon character with too few fingers and a failing dam. In recent years, do you know which players I have selected early? Josh Smith. Andre Iguodala. Blake Griffin. (It always comes back to Blake). I like to get multiple players who can contribute to nearly every column. Kyle Korver will still be there if you want threes. Darren Collison will still be there if you want steals. Mario Chalmers will still be there if you want laughs (or cries). Also, as you mix and match the bottom of your lineup, it's easier to target specific weaknesses when your everyday guys give you a solid starting point in every stat column.
</p>





 


<div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>    



     </div>

     </div>
     </div>
</div>
     


