<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>


<title>Fantasy Basketball News</title>





<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">



        
    <div class="container">
      <div class="col-md-5 col-md-offset-3">
      <h1><i class="fa fa-bal"></i>Fantasy Basketball News</h1>

      <img src="http://i.imgur.com/ESnPpsy.png" class="img-circle" style="width:100px; height:100px;"/>

                
      <h4>The latest news around fantasy basketball and the NBA.</h4>


     <h3>Follow us on twitter</h3>
     <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/5pickups" data-widget-id="546349463846268929">Tweets by @5pickups</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Latest Fantasy Basketball News</h3> 
   

  


    <div class="col-md-6 col-md-offset-3">
        <h2>Fantasy Basketball News 2015</h2>

        <p><span class="label label-primary">Click Links For Full Article</span></p>

    
        
       
    <div class="panel-default">



  
   <a href="http://bleacherreport.com/articles/2302315-daily-fantasy-basketball-2014-best-nba-fanduel-draftkings-lineup-for-dec-17﻿"><img src="http://i.imgur.com/QhJWVxY.png" class="img-rounded" style="width:50px; height:50px;"/>
     
     <h3>Daily Fantasy Basketball 2014 - Best One Day Fantasy League Advice</h3>
     </a>




     <p>"Atlanta at Cleveland and Memphis at San Antonio stand as two crucial real-life games, but the joy of daily fantasy basketball has our attention turned more toward potential high-scoring contests like Dallas at Detroit, Orlando at Boston and Houston at Denver. Let's take a look."
 </p>


<a href="http://fantasy.usatoday.com/2014/12/basketball-sleepers-busts-russell-westbrook-bradley-beal﻿"><img src="http://i.imgur.com/o1VW0i2.png" class="img-rounded" style="width:50px; height:50px;"/>
     
     <h3>Fantasy Basketball Sleepers and Busts</h3>
     </a>




     <p>"Westbrook has been a reliable monster over the last week, averaging 50 FantasyScore points per game over his last four. His lowest output is 39.5 fantasy points in eight games since returning from injury. He has a good matchup and provides the most bang for your buck."
 </p>


<a href="http://bleacherreport.com/articles/2223657-chris-bosh-injury-updates-on-heat-stars-calf-and-return"><img src="http://i.imgur.com/QhJWVxY.png" class="img-rounded" style="width:50px; height:50px;"/>
     
     <h3>Chris Bosh Injury Update</h3>
     </a>




     <p>"Heat forward Chris Bosh indicated after Sunday's loss to the Chicago Bulls that he could be out for a while. The Heat plays the Nets on Tuesday in Brooklyn and Bosh is doubtful for that game, but he could be out a few weeks."
 </p>


<a href="http://bleacherreport.com/articles/2302479-grizzlies-end-warriors-incredible-streak-and-other-tuesday-takeaways"><img src="http://i.imgur.com/QhJWVxY.png" class="img-rounded" style="width:50px; height:50px;"/>
     
     <h3>Warriors Streak Ended, What's next?</h3>
     </a>




     <p>"The 21-3 Golden State Warriors still own the league's best record after Tuesday night's 105-98 loss to the Memphis Grizzlies, but their dominant 16-game winning streak finally came to an end against a team making a statement in its own right."
 </p>




   



     </div>

     <a class="twitter-timeline" href="https://twitter.com/NBA" data-widget-id="546358123217158144">Tweets by @NBA</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

     </div>
     </div>

     

