

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>





<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i>Fantasy Basketball Strategy and Advice</h1>

      

                
      <h4>Gain knowledge on how to put a winning fantasy basketball team together</h4>


                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Fantasy Basketball Strategy</h3> 

  


    <div class="col-md-5 col-md-offset-3">
      


<!--End mc_embed_signup-->
       
    <div class="panel-default">



  
     <h1>Basic Strategy</h1>
     <h3>1. Draft Day</h3>

     <p>Knowing the fundamentals of fantasy basketball can make the difference between winning your fantasy league and finishing dead last. When draft day rolls around, there are two important things that you should consider before drafting a player. Even though a player was good last year, it does not mean that they will be this year so you can not go by just last years stats.
     </p>

     <p>
      To have a winning team you must be up to date with the roles of the players you are considering drafting. The player's team could have drafted a rookie that will take over that person's role in the starting lineup and you just wasted a pick on a bench warmer. You also have to consider if the player has moved to a different team in the league and if will he have a bigger or smaller role there.</span> 
 </p>
<img src="http://i.imgur.com/IeN1ZsC.png" class="img-rounded" style="width:300px; height:300px;" />

   <p>Once you have a clear vision on the potential player's role, you should next check out the stats. This includes taking into consideration this year's projections and also last year's stats for every player you are considering. Even though the predictions are not that accurate, a player could be injured for the first 2 months of the season and you could have missed it if you just went based on last year's stats. </p>

   <p>When looking at last year's stats, you should usually focus on what the player did in the last quarter of the season. The players roles could have changed later in the season and the stats only show you how many fantasy points per game (FPPG), when what you really need to know is how many fantasy points per minute they have scored to show you the true value of a player. </p>
     


     <p>When starting off your draft, I would try and avoid shooting guards other than the few elite players (Harden, Westbrook, etc) and I would focus on acquiring a quality point guard and a quality big man. The reason you do not want  to waste top picks on most shooting guards is because of efficiency. Every time a player misses a shot it subtracts a point from your score. The other main reason to go after a point guard and big man that can score first is because they put up points in a plethora of different categories. Plenty of people can score in the league, but not many can acquire multiple steals, blocks, and assists a game.</p>

 


<div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>    



     </div>

     </div>
     </div>
</div>
     

