
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>





<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="col-md-12">
<div class="panel-default">
<div class="container2">


<h1><i class="fa fa-bal"></i>Best NBA Basketball Highlights</h1>
 </div>
 </div>

  

  <div class="col-md-4 col-md-offset-3">
  <div class="container2">

  <h2>Kobe Passes Michael Jordan</h2>
</div>

<iframe width="560" height="315" src="//www.youtube.com/embed/X6Rz0TSprFc" frameborder="0" allowfullscreen></iframe>
    </div> 

    

  </div>   
  </div>

  <div class="col-md-4 col-md-offset-3">
  <div class="container2">

  <h2>Bucks vs. Clippers Highlights - Dec.13 2014</h2>
</div>

<iframe width="560" height="315" src="//www.youtube.com/embed/lxdjx6nQmDM" frameborder="0" allowfullscreen></iframe>
    </div> 

    

  </div>   
  </div>

  <div class="col-md-4 col-md-offset-3">
  <div class="container2">

  <h2>Pistons vs. Kings Highlights - December 13th</h2>
</div>

<iframe width="560" height="315" src="//www.youtube.com/embed/7RJz20FL9PM" frameborder="0" allowfullscreen></iframe>
    </div> 

    

  </div>   
  </div>
