

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57708227-1', 'auto');
  ga('send', 'pageview');

</script>






<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
    <div class="container">
      <div class="col-md-5 col-md-offset-4">
      <h1><i class="fa fa-bal"></i> Best Fantasy Basketball Waiver Wire Pick Ups</h1>

      <img src="http://i.imgur.com/ESnPpsy.png" class="img-circle" style="width:100px; height:100px;"/>

                
      <h4>Subscribe to receive 5 awesome new pickups in your inbox each week. We do the research so you don't have to.</h4>


                
      
      </div>
     </div> 


    </div>

    <div class="container2">
    
    
    <h3>Week 9 Waiver Wire Pick Ups December 22nd 2014- Dececember 29th 2014</h3> <h4><span class="label label-danger">ESPN Stats</span></h4>

     <h4><span class="label label-primary">Last 15 AVG</span></h4>

  


    <div class="col-md-12">
        <h2>Fantasy Basketball Waiver Wire Pick Ups</h2>
        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//5pickups.us9.list-manage.com/subscribe/post?u=bbade11dec52ce920e06a69f8&amp;id=b09133746a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to receive 5 awesome pickups in your inbox, every week.</label>
  <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bbade11dec52ce920e06a69f8_b09133746a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
       
    <div class="panel-default">
    <div class="col-md-4">



  
   <a href="http://espn.go.com/nba/player/_/id/2993875/shabazz-muhammad"><img src="http://i.imgur.com/k8TEMNE.png" class="img-circle" style="width:200px; height:200px;"/>
     
     <h3>Shabazz Muhammad</h3>
     </a>


    

     <h4><span class="label label-danger">34.2 Percent Owned (+25)</span></h4>
     <h4><span class="label label-primary">22 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>



     <p>Muhammad now seems to be an every-day starter for the Timberwolves, especially with Corey Brewer, who was traded to the Rockets, gone. Muhammad could be worth a pickup, considering he's been taking the most shots for the Timberwolves. He's scored 21 or more points in each of his past four games, and is averaging 18 points per game this month on 52.7 percent shooting.</span> 
 </p>
 </div>

   <div class="col-md-4">
<a href="http://espn.go.com/nba/player/_/id/3032976/rudy-gobert"><img src="http://i.imgur.com/nPM2Cmu.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Rudy Gobert</h3>
     </a>

     <h4><span class="label label-danger"> 8.7 Percent Owned (+2.5)</span></h4>
     <h4><span class="label label-primary">25.6 Fantasy PPG</span></h4>
     <h4><span class="label label-success">2 games next week</span></h4>

     <p>Rudy Gobert grabbed his first career double-double in Saturday's loss to the Hornets, finishing with 11 points, 12 boards, one steal and two blocks in 30 minutes.
This was a fantastic showing for Gobert, and this is the kind of line he can drop when he is given the minutes. This game reiterates the fact that Gobert should be owned in all leagues going forward, and he will only get better as his role grows towards the end of the season. Dec 20 - 10:32 PM
Source: Rotoworld NOTES: Enes Kanter and Favors occupy most of the minutes but he has still been efficient with low minutes. If one of those two are hurt, this guy is a must add and should still be considered at this point. His ability to block shots is unreal.</p>
</div>
<a href="http://espn.go.com/nba/player/_/id/6464/donatas-motiejunas"><img src="http://i.imgur.com/AsTea8K.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Mason Plumlee</h3>  
     </a>


     <h4><span class="label label-danger">23.4 Percent Owned (+9.8)</span></h4>
     <h4><span class="label label-primary">20.8 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>

     <p>Plumlee had 14 points (5-9 FG, 4-5 FT), nine rebounds, and three blocks in the loss to Cleveland on Friday.
Spin: Plumlee has been playing very well with Brook Lopez (back) out. In his last five games, he has averaged 17.4 points on 64.3 percent from the field and 9.8 rebounds.
Recent NewsFri, Dec 19 NOTES: Lopez will take a lot of the minutes when he comes back most likely but Lopez is injury prone and PLumlee puts up must add numbers when he plays starter minutes.</p>

     <div class="row">
     <div class="col-md-12">
     <div class="col-md-4">

     

     <a href="http://espn.go.com/nba/player/_/id/2489663/kelly-olynyk"><img src="http://i.imgur.com/vpv69iU.png" class="img-circle" style="width:200px; height:200px;" />
     
     <h3>Kelly Olynyk</h3>
     </a>

     <h4><span class="label label-danger">41.5 Percent Owned (+14.3)</span></h4>
     <h4><span class="label label-primary">27 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>

     <p>Olynyk has averaged 22.0 points in his last three games and hit seven 3-pointers in that span. He is adding a handful of blocks (five in the last three) and doing a nice job against bad teams (Philadelphia, Orlando, Minnesota). It might be a nice time to try to trade high on Olynyk Source: Rotowire NOTES: Zeller gets minutes as well but Olynyk has extremely high upside that is hard to ignore. Zeller is solid but expect Olynyk to get more minutes as the season goes on.
</p>
     </div>

      <div class="col-md-4">
     <a href="http://espn.go.com/nba/player/_/id/2490620/robert-covington"><img src="http://i.imgur.com/64L9gvS.png" class="img-circle" style="width:200px; height:200px;" />
     <h3>Robert Covington</h3>
     </a>

     <h4><span class="label label-danger"> 37.4 (+11.4)</span></h4>
     <h4><span class="label label-primary">22.7 Fantasy PPG</span></h4>
     <h4><span class="label label-success">3 games next week</span></h4>


     <p>Covington has been an absolute beast over the last five games, averaging 17.4 points, 6.6 rebounds, 1.6 assists, 1.4 steals, 1.2 blocks and 3.6 three-pointers made during that span. He's clearly a go-to option for the Sixers, considering that he's averaging 12.4 field goal attempts during that span, and it doesn't appear like his usage rate will go down anytime soon. He's making a strong case for waiver player of the year--which means if he's still on the wire in your league, it's probably time to jump on the wagon. Dec. 22 2014 Source: Rotowire.com</p>


 <a href="http://games.espn.go.com/frontpage/sports?sport=basketball"><img src="http://i.imgur.com/QUqDOYH.png" class="img-rounded" style="width:30px; height:30px;"/>
     
     ESPN Fantasy Basketball </a> - Go to your team here


     </div>



     <!-- Standard button -->
     <div class="container">
     <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->

</div>

 <div class="col-md-5 col-md-offset-3">
       
    <div class="panel-default">



  
     <h1>Waiver Wire Pickup Guide</h1>
     

     <p>Mastering the waiver wire is a crucial part of having a winning team in fantasy basketball. Below you can learn the main things to consider when deciding who to pickup.  <p>
     </p>
     <h3>1. Last 7 and PR7</h3>
     <p>
      When deciding who to pick up off the waivers, start off looking at the players stats. Stats that you should play particulary close attention to is fantasy points per game then sort by "Last 7". This will give you a great idea on how the player is doing most recently. Then click the "Research" tab on the player list and sort by "PR7" (Player Rating Last 7) to see if anyone else stands out.</span> 
 </p>
<img src="http://i.imgur.com/DsTL6Rv.png" class="img-rounded" style="width:400px; height:410px;" />

 <a href="http://games.espn.go.com/frontpage/sports?sport=basketball"><img src="http://i.imgur.com/QUqDOYH.png" class="img-rounded" style="width:30px; height:30px;"/>
     
     ESPN Fantasy Basketball </a> - Go to your team here

        <h3>2. Injuries</h3>


   <p>You need to be up to date if someone gets injured in the league. This usually creates opportunity for other players that could be worth picking up. Ask yourself who is going to be the main beneficiary of the playing time when that player is out. Did that player do well while the injured player was out in the past? Having a quality pickup after an injury can be a season changer for your team.</p>

   <p>You also want to look at all of the injured players to see if a quality player is about to start playing again. Someone could have dropped a stud that has been injured for 2 months but is about to come back. There could be someone in your league that people are forgetting about.</p>
   <a href="http://www.rotowire.com/basketball/injuries.htm"><img src="http://i.imgur.com/9jEuJmQ.png" class="img-rounded" style="width:30px; height:30px;"/> Rotowire - Best place for fantasy player injury updates</a>
     
    
     
   <h3>3. Daily Leaders</h3>

     <p>Another good tip to pick up players on the waiver wire is to look at the daily leaderboards while games are in progress. If you see someone that has 17 fantasy points in the first quarter and has been doing well recently, chances are, you should pick that player up. If you look at the daily leaderboards you could see something before others do to give you a leg up on the competition. </p>

      <img src="http://i.imgur.com/6Km23CU.png" class="img-rounded" style="width:350px; height:280px;" />

     
    

 </div>    

     


 


<div class="container">

    

   
    <!-- Affiliate Code Do NOT Modify--><OBJECT id="affMV182" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  width="250"  height="250" > <param name="movie" value="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid="><param name="allowScriptAccess" value="always"><param name="flashvars" value="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="><embed src="http://partners.fanduel.com/processing/impressions.asp?btag=a_6299b_182&aid=" width="250"  height="250"  allowScriptAccess="always"   NAME="AffMV182" ALIGN="" TYPE="application/x-shockwave-flash"  PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"  flashvars="creativeURL=http://partners.fanduel.com/processing/clickthrgh.asp?btag=a_6299b_182&aid="></embed></object><!-- End affiliate Code-->
   

 </div>    



     </div>

     </div>
     </div>
</div>
     



<div class="col-md-12">
<div class="panel-default">
<div class="container2">

<h1><i class="fa fa-bal"></i>Fantasy Basketball Hub</h1>
<h3>Go to your fantasy team, or explore the best fantasy basketball websites</h3>
 </div>


  <div class="col-md-3">


<a href="http://games.espn.go.com/frontpage/basketball"><img src="http://i.imgur.com/QUqDOYH.png" class="img-rounded" style="width:200px; height:200px;"/>




     
     <h3>ESPN Fantasy Basketball</h3>
     </a>
    </div> 

    <div class="col-md-3">

     <a href="http://bleacherreport.com/fantasy-basketball"><img src="http://i.imgur.com/QhJWVxY.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>Bleacher Report Fantasy Basketball</h3>
     </a>
     </div>

     <div class="col-md-3">

     <a href="http://basketball.fantasysports.yahoo.com/"><img src="http://i.imgur.com/3yXM9WN.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>Yahoo Fantasy Basketball</h3>
     </a>
     </div>

     <div class="col-md-3">

     <a href="http://www.rotowire.com/basketball/"><img src="http://i.imgur.com/oQc3YDO.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>Rotowire</h3>
     </a>
     </div>
     <div class="row">
     <div class="col-md-12">

     <div class="col-md-3">

     <a href="http://www.nba.com/"><img src="http://i.imgur.com/wIciUyO.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>NBA.com</h3>
     </a>
     </div>

     <div class="col-md-3">

     <a href="http://rotomonster.com/"><img src="http://i.imgur.com/9jEuJmQ.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>Rotomonster - Stat Archive</h3>
     </a>
     </div>

     <div class="col-md-3">

     <a href="http://hoopshype.com/"><img src="http://i.imgur.com/ILcf5oU.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>Hoopshype</h3>
     </a>
     </div>

     <div class="col-md-3">

     <a href="http://espn.go.com/video/sportscenter"><img src="http://i.imgur.com/wG2oSg9.png" class="img-rounded" style="width:200px; height:200px;"/>
     
     <h3>Sportscenter</h3>
     </a>
     </div>
     </div>
     </div>
  </div>   
  </div>
   </div>

   <div class"row">
     <div class="col-md-5 col-md-offset-3">
     <h3>Follow us on twitter</h3>
     <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/5pickups" data-widget-id="546349463846268929">Tweets by @5pickups</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


   




     
