<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      
       <%= link_to "Home", fantasy_basketball_path, class: "btn btn-default", style: "margin-top:10px;" %>
        <%= link_to "Fantasy Hub", fantasy_basketball_hub_path, class: "btn btn-default", style: "margin-top:10px;" %>
       <%= link_to "News", fantasy_basketball_news_path, class: "btn btn-default", style: "margin-top:10px;" %>
       <%= link_to "Week 8", fantasy_basketball_week_8_path, class: "btn btn-default", style: "margin-top:10px;" %>
   
      
    </div>
  </div>
</nav>
