<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      
       <a class="navbar-brand" href="/fantasy_basketball">
        <img alt="Brand" src="http://i.imgur.com/peLEDec.png">
      </a>
        <ul class="nav navbar-nav navbar-right">  

     
     <li> <%= link_to "Fantasy Hub", fantasy_basketball_hub_path, class: "btn btn-inverse", style: "margin-top:10px;" %></li>
      <li> <%= link_to "News", fantasy_basketball_news_path, class: "btn btn-inverse", style: "margin-top:10px;" %></li>
       <li> <%= link_to "Strategy", fantasy_basketball_strategy_path, class: "btn btn-inverse", style: "margin-top:10px;" %></li>
         <li> <%= link_to "Waiver Wire Strategy", fantasy_basketball_waiver_wire_strategy_path, class: "btn btn-inverse", style: "margin-top:10px;" %></li>

         <head>
         <title>Fantasy Basketball Waiver Wire Pickups | Fantasy Basketball</title>
         <meta name="msvalidate.01" content="09ACF2763108E1FB746AF3B28BC3D322" />
         </head>
       
   
      </ul>
    </div>
  </div>
</nav>
