<!DOCTYPE html>
<html>
<head>
  <title>Five</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="fantasy basketball, basketball, waiver wire pick ups, fantasy basketball pick ups, fantasy sports, fantasy basketball help, fantasy basketball news, week 8 waiver wire, week 9 waiver wire, fantasy pick ups" /> 
  <meta name="description" content="Get the best fantasy basketball waiver wire pick ups in your inbox, every week. " />
</head>
<body>

<%= yield %>

</body>
</html>
