<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img alt="5pickups.com" src="http://i.imgur.com/ESnPpsy.png" class="img-circle" style="width:100px; height:100px;">
      </a>
      <button type="button" class="btn btn-default navbar-btn pull-right">Week 5</button>
      <button type="button" class="btn btn-default navbar-btn pull-right">Week 6</button>
      <button type="button" class="btn btn-default navbar-btn pull-right">Week 7</button>
      <button type="button" class="btn btn-default navbar-btn pull-right">Week 8</button>
    </div>
  </div>
</nav>
